<AuthorizeView Roles="ADMIN, TURTLE, ELEPHANT, PARROT, CAT, BASIC">
    <Authorized>
        @page "/"
        @using CaloriesCatcher.UI.Components;
        @using CaloriesCatcher.UI.Model;
        @using CaloriesCatcher.UI.Service.IService;
@using Microsoft.AspNetCore.Authentication.OAuth.Claims
        @using Newtonsoft.Json;
        <div style="float:left; width:40%; margin: 20px;">
            <MudText>User Id: @UserId</MudText>
            <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true">Today's Details</MudText>
            <MudPaper Class="pa-4">
                <MudChart ChartType="ChartType.Pie" InputData="@data" @bind-SelectedIndex="i" InputLabels="@labels" Width="35%" Height="35%"/>
            </MudPaper>
            <MudPaper Class="pa-4 mt-2 d-flex justify-center">
                <MudButton OnClick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary">Log Calories</MudButton>
                <MudButton @onclick="EditData" Variant="Variant.Filled" Class="mx-4">Edit Food</MudButton>
                <MudButton OnClick="RemoveDataSize" Variant="Variant.Filled" Color="Color.Secondary">Delete Food</MudButton>
            </MudPaper>
            <div style="text-align:center; margin-top:2%;">
                <MudButton Color="Color.Primary" Variant="Variant.Text">Track a food</MudButton>
                <MudButton Color="Color.Primary" Variant="Variant.Text">Track a recipe</MudButton>
            </div>
        </div>
        <div style="float:right; width:40%;margin-top:3%; margin-right:3%; margin-bottom:5%;">
            <MudItem xs="12" md="10">
                <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true">Today's Progress</MudText>
                <MudPaper Width="100%">
                    <MudTable Items="ListOfCalories" Class="calories-table">
                        <HeaderContent>
                            <MudTh>Calorie Name</MudTh>
                            <MudTh>Calorie Value</MudTh>                            
                            <MudTh></MudTh>
                            <MudTh></MudTh>
                        </HeaderContent>
                        <RowTemplate Context="items">
                            <MudTd>@items.CalorieName</MudTd>
                            <MudTd>@items.Calorie</MudTd>
                            <MudTd><MudButton @onclick="() => DeleteCalories(items.Id)" Color="Color.Error">Delete</MudButton></MudTd>
                            <MudTd><MudIconButton Icon="@Icons.Material.Filled.Edit" aria-label="Edit"></MudIconButton></MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudPaper>
            </MudItem>
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAuthorzied/>
    </NotAuthorized>
</AuthorizeView>

@code {

    [Inject]
    private ICalories caloriesService { get; set; } = default!;

    [Inject]
    private ISnackbar snackBar { get; set; } = default!;

    [Inject]
    IDialogService dialogService { get; set; } = default!;

    [CascadingParameter]
    Task<AuthenticationState> authenticationState { get; set; } = default!;
    public string UserId { get; set; }
    List<CaloriesDto> ListOfCalories = new List<CaloriesDto>();

    protected override async Task OnInitializedAsync()
    {
        await RefreshCaloriesData();
        getGraphData();
    }
    
    
     int i = -1;
    int dataSize = 4;
   // double[] data = { 10, 25, 20, 5 };
    private double[] data = new double[3] { 0, 0, 0 };
    string[] labels = { "Breakfast", "Lunch", "Dinner" };

    public void getGraphData()
    {
        foreach (CaloriesDto caloriesDto in ListOfCalories)
        {
            TimeSpan time = caloriesDto.Date.TimeOfDay;
            if (time >= TimeSpan.FromHours(5) && time < TimeSpan.FromHours(12))
            {
                data[0] += caloriesDto.Calorie; 
            }
            else if (time >= TimeSpan.FromHours(12) && time < TimeSpan.FromHours(17))
            {
                data[1] += caloriesDto.Calorie; 
            }
            else if (time >= TimeSpan.FromHours(17) && time < TimeSpan.FromHours(22))
            {
                data[2] += caloriesDto.Calorie; 
            }
        }
    }
    // change to edit
    void EditData()
    {
    /* var new_data = new double[dataSize];
        for (int i = 0; i < new_data.Length; i++)
        new_data[i] = random.NextDouble() * 100;
        data = new_data;
        StateHasChanged(); */
    }

    void AddDataSize()
    {
        if (dataSize < 20)
        {
            dataSize = dataSize + 1;
        }
    }

    void RemoveDataSize()
    {
        if (dataSize > 0)
        {
            dataSize = dataSize - 1;
        }
    }

    async Task RefreshCaloriesData()
    {
        var authState = await authenticationState;
        var response = await caloriesService.GetCaloriesByUserAsync(authState.User.FindFirst("Sub")?.Value);
        UserId = authState.User.FindFirst("sub")?.Value;
        if (response != null && response.IsSuccess)
        {
            ListOfCalories = JsonConvert.DeserializeObject<List<CaloriesDto>>(Convert.ToString(response.Result));
            StateHasChanged();
        }
        else
        {
            snackBar.Add("Something went wrong", Severity.Error);
        }
    }

    async void OpenDialog()
    {
        DialogOptions closeOnEscapeKey = new DialogOptions() { CloseOnEscapeKey = true };
        var dialog = dialogService.Show<CaloriesLog>("Calories Log", closeOnEscapeKey);
        var result = await dialog.Result;
    }

    private async void DeleteCalories(int caloriesId)
    {
        try
        {
           var response = await caloriesService.DeleteCaloriesAsync(caloriesId);
            if (response.IsSuccess)
            {
                ListOfCalories.Remove(ListOfCalories.FirstOrDefault(c => c.Id == caloriesId));
                snackBar.Add($"Success: {response.Message} was deleted", Severity.Success);
                StateHasChanged();
            }
            else
            {
                snackBar.Add($"Error: Something went wrong", Severity.Error);
            }
        } catch (Exception ex)
        {
            snackBar.Add($"Error: {ex.Message}", Severity.Error);
        }

    }
}